@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Arial,
      density: 0,
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4f7f9;
  color: #172b38;
  font-family: Arial, sans-serif;
}
